<div class="nested-fields">
  <table class="table table-hover">
  <tr>
    <td> <%= f.association :service %></td>
   <td>  <%= f.input :done %> </td>
     <td><br><%= link_to_remove_association "Remove Service To Do" , f , class: "btn btn-warning"%></td>
  </tr>
  </table>

</div>
