<div class="nested-fields">
  <table class="table table-hover">
  <tr>
    <td> <%= f.input :name %></td>
   <td>  <%= f.input :prescription_frequency %>  </td>
   
     <td><br><%= link_to_remove_association "Remove Prescription" , f , class: "btn btn-warning"%></td>
  </tr>
  </table>

</div>
