<footer class="footer-section ">
  <div class="row">
        
      <div class="soc-net social-links">
    </a>
          </div>
    
    <center><div class="copyrights">
      PhoneNumber: +63915-409-3012 --- Email-Address: petessentialsdiwa@gmail.com --- Address: 3433 Block Maharlika Highway Las Pinas City
  </div>
</footer><!-- .footer-section -->
    <!--Footer-->

